// LMS - CSS application architecture
// Version 1 styling (pre-Pattern Library)
// ====================

@import 'build-base-v1';
@import 'build-lms-v1'; // shared app style assets/rendering

.banner-section {
   
    height: calc(100vh - 65px);
    background-image: linear-gradient(90deg,#231f20,rgba(39,16,102,0) 65%,rgba(39,16,102,0) 70%,#231f20),url('../images/shutterstock_1336362089.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    .banner-content {
        padding-left: 40px;
        padding-right : 40px;
    }
}

.banner-header {
    
    
    font-weight: 400;
    color: #ffffff;
    font-family: 'Asap', sans-serif;
    letter-spacing: 1px;
    font-family: Raleway,Arial,Helvetica,sans-serif;
    font-size:35px;
    line-height:35px;
    @media (max-width: 1200px) and (min-width: 320px){
      font-size: 24px !important;
    }

    
}
.banner-name{
    font-family: "Domaine Display";
    color:#baa769;
    font-size : 70px !important;
    @media (max-width: 1200px) and (min-width: 320px){
      font-size: 50px !important;
    }
}

.banner-text {
    color: #ffffff;
    font-size: 22px;
    padding: 15px 25px 30px 25px;
    border: 1px solid #baa769;
    @media (max-width: 1200px) and (min-width: 320px){
      font-size: 17px !important;
    }
}
.secondary {
    @include float(right);
    @include margin($baseline*0.75, $baseline*2, 0, 0);

    // All navigation items
    .nav-item {
      font-size: $font-size-base;
      display: inline-block;
      padding: $baseline/2 0 0;
      margin: 0 $baseline/2;

      &.nav-item-dropdown {
        color:$white;
        padding: 0;
        margin: 0;
      }

      a {
        color: $white;
        font-weight: $font-weight-normal;
      }
    }


    // Sign in, Register and Shopping Cart buttons
    .btn {
      border: 1px solid theme-color("primary");
      padding: $baseline/4 $baseline;
      border-radius: $baseline/4;
      cursor: pointer;
      text-decoration: none;
    }

    a.sign-in-btn,
    .nav-item a.shopping-cart {
      background-color: theme-color("primary");
      color: theme-color("inverse");
      border: 1px solid theme-color("inverse");
      font-weight: $font-weight-normal;
      padding: $baseline/4 $baseline;

      &:hover {
        background-color: theme-color("inverse");
        color: theme-color("primary");
        border-color: theme-color("primary");
        background-position : 0px 36px;
      }
    }

    a.register-btn {
      background: theme-color("inverse");
      color: theme-color("primary");
      font-weight: $font-weight-normal;

      &:hover {
        background-color: theme-color("primary");
        color: theme-color("inverse");
      }
    }

    // User information
    .user-image-frame {
      border: 1px solid theme-color("light");
      margin: -1*$baseline/2 $baseline/4;
      border-radius: $baseline/4;
      width: $header-user-image-size;
    }

    // Dropdown behavior
    .toggle-user-dropdown {
      padding: $baseline/2;
      text-decoration: none;
      cursor: pointer;
    }

    .dropdown-user-menu {
      border: 1px solid theme-color("secondary");
      position: absolute;
      background-color: theme-color("inverse");
      color: theme-color("secondary");
      @include right(30px);
      top: 55px;
      z-index: 10;

      .dropdown-item {
        cursor: pointer;
        overflow: hidden;
        padding: 0;

        &:hover {
          color: theme-color("dark");
          background-color: theme-color("light");
        }

        &:not(:last-child) {
          border-bottom: 1px solid theme-color("light");
        }

        a {
          font-weight: $font-weight-base;
          padding: $baseline/2 $baseline*0.75;
          display: inline-block;
          width: 100%;

          &:focus {
            outline: none;
            color: theme-color("dark");
            background-color: theme-color("light");
          }
        }
      }
    }
}
.section-container{
    width: 900px;
    margin: 0 auto!important;
    padding-top : 70px;
    padding-bottom: 70px;
    padding-right: 15px;
    padding-left:15px;
    @media (max-width: 1200px) and (min-width: 320px){
      width: 100vw !important;
    }
}
.about-section,.service-section,.process-section{
  .about-title,.service-title,.process-title{
      //color: #434343;
      text-align : center;
      font-weight: 700;
      font-size: 70px;
      line-height: 84px;
  }
  .title-para{
      //color: #434343;
      letter-spacing: 2px;
      margin-top: -10px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
  }
  .col-icon{
    //color: #434343;
    font-size: 48px;
    float: left;
    padding: 20px 10px;
    text-align: left;
  }
  .col-content{
    padding: 0 15px;
    overflow: hidden;
  }
  .simple{
    padding:0 0 0 10px;
    margin-bottom :11px;
    li{
      text-indent: -5px;
      list-style: none;
      display:list-item;
      text-align: -webkit-match-parent;
    }
  }
  .list-head{
    border-top : 2px solid #baa769;
    color: #baa769;
  }

}
.work-section{
  //height: calc(100vh - 65px);
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../images/shutterstock_740349664.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  //background-color: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  color: #efefef;
  .work-content {
    //padding-left: 40px;
    .work-title{
      
      text-align: center;
      display: block;
      font-weight: 700;
      
  }
    .icon-set{
      margin-top: 40px;

    }
    .circle {
      display: inline-block;
      text-align: center;
      width: 145px;
      height: 145px;
      line-height: 145px;
      margin: 3px auto;
      border-radius: 50%;
      font-size: 32px;
      position: relative;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      text-decoration: none;
      outline: 0;
      color: #baa769;
    }
    .circle:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      left: 0;
      top: 0;
      border: 1px solid;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      -webkit-transform: scale(1.04137931);
      -moz-transform: scale(1.04137931);
      -ms-transform: scale(1.04137931);
      transform: scale(1.04137931);
    }
    .scroll-in-animation {
      opacity: 1;
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      -o-animation-duration: 1.2s;
      animation-duration: 1.2s;

    }
    .title{
      color: #baa769;
    }
      
      
  }

}
.team-section{
  .team-title{
    //color: #434343;
    text-align : center;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
  }
  .title-para{
   // color: #434343;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  .hover-overlay{
    position: relative;
    overflow: hidden;
    color: #767676;
    img{
      -webkit-transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -ms-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s;
    }
    .fluid-width {
      object-fit: cover;
      width: 100%;
      height: 320px;
    }
    .overlay{
      -webkit-transition: all .5s ease 0s;
      -moz-transition: all .5s ease 0s;
      -ms-transition: all .5s ease 0s;
      -o-transition: all .5s ease 0s;
      transition: all .5s ease 0s;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:hover {
        opacity: 1;
      }
    }
    .background-90-b {
      background-color: rgba(97,94,90,.9)!important;
    }

  }
  .separator-small {
    height: 10px;
  }
}
.highlight{
    color:#baa769;
}
.underline-text{
  border-color: rgba(239,239,239,.5);
  border-bottom-style: solid;
  display: inline-block;
  border-bottom-width: 3px;
  padding-bottom: 7px;

}
.background-20{
  background-color: rgba(14,14,15,.2)!important;
}
.who-section{
  .banner-image{
    height:100%;
    background-image: url('../images/shutterstock_1771853657_BW.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    a{
      text-decoration: none;
    }
    .button-a{
      border: #000000 1px solid;
      line-height:22px;
      padding:8px 12px;
      text-align :center;
      text-decoration:none;
      display:inline-block;
    }
    .background-lite-c{
      color:#fff;
      background-color:rgba(41,36,31,.46806867)!important;
    }

  }
}
.position-middle-center{
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
}
.row{
  margin-right : 0px !important;
  margin-left : 0px !important;
}
.simple{
  padding: 0 0 0 10px !important;
  li{
    line-height: 29px;
    text-indent: -5px;
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    &:before {
      content: "- ";
    }
  }
  
}
.process {
  position: relative;
  line-height: 36px;
  .process-row {
    &:before{
      top: 75px;
      left: 0;
      position: absolute;
      content: " ";
      width: 100%;
      height: 1px;
      border-top: 1px dashed;
      z-index: 0;

    }
    
  }
  .process-step{
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    .title{

      margin-top: 15px;
      margin-bottom: 15px;
      color: #baa769 !important;
      text-align: center;
      text-transform: uppercase;
      margin-top: 0;
      font-weight: 700;

    }
    p{
      margin-top: 10px;
      text-align: center;
      letter-spacing: 1.2px;
      line-height: 22px;


    }
    .process-box{
      &:before{
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        border-radius: 15px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: ' ';
        z-index: 0;
        background-color: #fff;
       
      }
      position: relative;
      width: 150px;
      height: 150px;
      text-align: center;
      padding: 0;
      font-size: 36px;
      line-height: 150px;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      border: 1px solid;
      overflow: hidden;
      margin: 0 auto;
      
      i{
        font-size: 36px;
        position: relative;
        z-index: 10;
        color: #434343;
        &:before{
          font-family: 'Font Awesome\ 5 Free';
          font-style: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
      }
    }
  }
}
.contact-section{
  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/shutterstock_1120737329.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color : #fff;
  //background-attachment: fixed;
  display: flex;
  align-items: center;
  padding-top : 150px;
  padding-bottom : 150px;
  .contact-title{
    color: #fff;
    text-align : center;
    font-weight: 700;
    font-size: 70px;
    line-height: 84px;
  }
  .header-details{
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #fff;
  }
  .text-background{
    color : #0e0e0f!important;
  }

}
.number-section{

  background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../images/shutterstock_740349664.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  //background-color: rgba(0,0,0,.85);
  display: flex;
  align-items: center;
  color: #efefef;
  padding-top:100px;
  padding-bottom: 100px;
  
    //padding-left: 40px;
    .number-title{
      
      color: #efefef;
      text-align : center;
      font-weight: 700;
      font-size: 70px;
      line-height: 84px;
      
    }
    .title-para{
      color: #efefef;
      letter-spacing: 2px;
      margin-top: -10px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;
    }
    .counters {
      margin-top: 40px;
      margin-bottom: 20px;
      .counter {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 28px;
        padding-top: 60px;
        padding-bottom: 60px;
        .count {
          font-size: 45px;
          line-height: 78px;
          font-weight: 600;
        }
      }
      
    }
    .background-25-b {
      background-color: rgba(97,94,90,.25)!important;
    }
    .heading{
      color: #fff;
    }
    .background-10-light {
      background-color: rgba(255,255,255,.1)!important;
    }
    .background-35-h {
      background-color: rgba(14,14,15,.35)!important;
    }
    caption {
      letter-spacing: 1px;
      text-align: center;
      margin-top: 10px;
    }
  
}
.course-btn{
  background-color: theme-color("primary");
  color: theme-color("inverse");
  border: 1px solid theme-color("inverse");
  font-weight: $font-weight-normal;
  padding: $baseline/4 $baseline;
  margin:auto;
  display:block;

  &:hover {
    background-color: theme-color("inverse");
    color: theme-color("primary");
    border-color: theme-color("primary");
    background-position : 0px 36px;
  }
  
}
#text1,#text2,#text3,#text4,#course-intro{
  display:none;
}
.btn-container{
  color : #baa769;
  padding-bottom: 30px;
  
}

.v-header{
  height:100vh;
  display:flex;
  align-items:center;
  color:#fff;
}

.container{
  max-width:960px;
  padding-left:1rem;
  padding-right:1rem;
  margin:auto;
  text-align:center;
}
.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
}

.header-overlay{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  z-index:1;
  background:#225470;
  opacity:0.85;
}

.header-content{
  z-index:2;
}

.header-content h1{
  font-size:50px;
  margin-bottom:0;
}

.header-content p{
  font-size:1.5rem;
  display:block;
  padding-bottom:2rem;
}

.btn{
  background: #34b3a0;
  color:#fff;
  font-size:1.2rem;
  padding: 1rem 2rem;
  text-decoration: none;
}

.section{
  padding:20px 0;
}

.section-b{
  background:#333;
  color:#fff;
}

@media(max-width:960px){
  .container{
    padding-right:3rem;
    padding-left:3rem;
  }
}

.video-wrap{
  width: 100%;
  height: 100%;
  overflow:hidden;
}
.video-wrap video{
  width: 100%;
  height: 100%;
}
.video-wrap::after{
  width: 100%;
  height: 100%;
  content: '';
  z-index: 15;
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  
}
.video-overlay{
  width: 100%;
  background: rgba(0,0,0, 0.95);
  z-index: 15;
}
.video-col{
  margin: 0 !important;
  padding: 0 !important;
}
.row{
  margin: 0 !important;

}
.about-banner-content{
  
  text-align: center;
  display: flex;
  align-items: center;
}
.btn{
  background: #baa769;
}

.about-category-section{
padding-top: 50px;
padding-bottom: 50px;
background: #191c21;

}
.card-title{
color: black;
font-weight: 700;
}
.teaching-section{
padding-bottom: 100px;
padding-top: 100px;
padding-left: 0px;
padding-right: 0px;
margin: 0px;
background:black;

}
.udlite-full-width-container {
width: 100vw;
position: relative;
left: 50%;
right: 50%;
margin-left: -50vw;
margin-right: -50vw;
}
.non-student-cta-bg{
background-color: #191c21;
align-items: center;
  display: flex;
  justify-content: center;
  height: 24rem;
}
.non-student-cta-content-wrapper {
display: flex;
justify-content: center;
}
.non-student-cta-image {
margin-right: 9.6rem;
}
@media (min-width: 61.31em){
.non-student-cta-image {
  display: block;
  box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
  height: 30rem;
  width: 30rem;


}

}


@media (min-width: 61.31em){
.non-student-cta {
  max-width: 40rem;
  text-align: left;
  padding: 0;
}

}
.non-student-cta {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
padding: 4.8rem 2.4rem;
}
@media (min-width: 61.31em){
.non-student-cta {
  max-width: 40rem;
  text-align: left;
  padding: 0;
}
}
.non-student-cta {
display: flex;
flex-direction: column;
justify-content: center;
text-align: left;
padding: 4.8rem 2.4rem;
}
.udlite-heading-xxl{
font-family: sf pro display,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
font-weight: 700;
line-height: 1.2;
letter-spacing: -.02rem;
font-size: 40px;
}
.faq{
padding-bottom: 50px;
padding-top: 50px;

}
.accordion {
background-color: #191c21;
color:#fff;
cursor: pointer;
padding: 18px;
width: 100%;
border: none;
text-align: left;
outline: none;
font-size: 15px;
transition: 0.4s;
margin-bottom: 10px;
margin-top: 10px;
outline: none;
}
button{
outline: none !important;
}

.active, .accordion:hover {
background-color: #191c21;

}


.accordion:after {
content: '\002B';
color: #fff;
font-weight: bold;
float: right;
margin-left: 5px;
}

.active:after {
content: "\2212";
}

.panel {
padding: 0 18px;
background-color: #191c21;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
text-align: left;
margin-top: -10px;
}
.footer{
background-color: #191c21;
padding-top: 50px;
padding-bottom: 50px;
text-align: left;
}
ol, ul {
list-style: none;
}
a {
color: inherit;
text-decoration: none;
cursor: pointer;
}
h2{
padding-bottom: 2rem !important;
}

