<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text

from branding import api as branding_api
%>
<head>
  <!-- McDaniel Oct-2018: add the Bootstrap library, unless it's already included from webpack -->
  % if not uses_bootstrap:
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  % endif

</head>

<section class="banner-section" id="home">
  <div class="section-container">
    <div class="banner-content">
      <h4 class="tlt banner-header">
          <ul class="texts">
              <li>Insights to GROW</li>   
              <li></li>
              
          </ul>
      </h4>
      <h2 class="banner-name">
        MASTERS
      </h2>


      <p class="banner-text">
      Mission Critical Business Insights in a rapidly changing world through world class subject matter experts
      </p>
      <div class="secondary ">
        <div class="mobile-nav-item hidden-mobile nav-item">
          <a class="register-btn btn" href="https://themastersworld.com/courses">Our Upcoming Programmes</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item">
          <a class="sign-in-btn btn" href="https://themastersworld.com/#about">About Us</a>
        </div>
      </div>
        
        
        
    </div>
  </div>
</section>
<section class="about-section" id="about">
  <div class="section-container">
    <h2 class="about-title">ABOUT</h2>
    <p class="title-para"><span class="highlight">INSIGHTS</span> TO GROW</p>
    <p class="about-para">In our obsession on innovation and growth, we endeavor to create value that help leaders to create great businesses and great teams focused on multi-dimensional progression. We strive to present best in-class corporate education experiences, online, with world class faculties, designed around contemporary topics. Value creation through thought leadership and innovation; help us induce the cutting-edge advantages to your corporate capacity pool.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-lightbulb fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Open <span class="highlight">Programmes</span></h4>
          <p>At our open programmes you are challenged to think, not just to listen for great insights, you will learn with diverse set of business individuals who are passionate about growth through contemporary insights. Learn about our upcoming programmes</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-tshirt fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Customised <span class="highlight">programmes</span></h4>
          <p>Every organisation is unique on its own way, our customised programmes are designed and delivered to match company specific business challenges. These programmes can be conducted at your organisation or can be conducted at Masters Corporate Education dedicated learning labs </p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-bullhorn fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Learning <span class="highlight">Labs</span></h4>
          <p>Bring your business challenges to our learning labs.We facilitate Innovation, Strategy, Cyber and Data Science formulation with International subject matter experts with cutting edge technology to give insights to grow.This could be From New Strategy Development to Designing a New Product or Service Using Design Thinking </p>

        </div>
      </div>
    </div>
    
  <div>
  
</section>
<section class="work-section" id="work">
  <div class="section-container">
    <div class="work-content">
      <h3 class="work-title"><span class="highlight">HOW WE HELP</span> YOU GROW</h3>
      <div class="row" style="justify-content: center ;color:#efefef">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">We work with some of the finest international pool of experts’ committed in making learning more insightful and impactful. The tools and learning designs incorporated in our programmes are focused on learning by doing approach.</p>
        </div>

      </div>
      <div class="row icon-set">
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-eye circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Learning Need Analysis</span></p>
          <p>Assessments and various interviews with key stake holders to determine learning need and impacts</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-thumbs-up circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Faculty Sourcing</span></p>
          <p>Subject matter expert identification and initial programme design/learning outcome design</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-paper-plane circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Programme Design</span></p>
          <p>Programme architecture design and learning interventions identification and agree with the learning manager</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-flask circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Programme Delivery</span></p>
          <p>Delivery of the programme , Assessment of the impact of the delivery, learning re-enforcements</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-section" id="team">
  <div class="section-container">
    <div class="team-content">
      <h2 class="team-title">TEAM</h2>
      <p class="title-para"><span class="highlight">WHO</span> WE ARE</p>
      <p class="team-para">We create learning experiences rich in insights designed around contemporary topics, modern adult learning pedagogy. Quality of the content, impactful delivery, and the impactful learning outcome (practical application) are three key focus areas in our all offerings. Therefore we work with carefully selected, tested subject matter experts across the world.</p>
      <div class="row">
        <div class="col-md-4 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <div class="team-img">
              <img alt="Nuwan Dishan" src="/static/custom-theme/images/Nuwan.jpg" title="Nuwan Dishan" class="fluid-width">
            </div>
            
            <!--<div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook heading-b"></i></a>
                  <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube heading-b"></i></a>
                  <a target="_blank" href="https://github.com/"><i class="fa fa-github heading-b"></i></a>
                </p>
              </div>
            </div>-->
          </div>
          <div class="caption">
            <p>
              <span class="title">Nuwan Dishan</span>
              <br>
              <span class="highlight">Programmes Lead</span>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <div class="team-img">
              <img alt="Devin Singh" src="/static/custom-theme/images/06.jpg" title="Devin Singh" class="fluid-width">
            </div>
            
            <!--<div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                  <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                  <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                  <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                </p>
              </div>
            </div>-->
          </div>
          <div class="caption">
            <p>
              <span class="title">Devin Singh</span>
              <br>
              <span class="highlight">Faculty Leadership</span>
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <div class="team-img">
              <img alt="Christian Rangen" src="/static/custom-theme/images/21.jpg" title="Christian Rangen" class="fluid-width">
            </div>
            
            <!--<div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr heading-b"></i></a>
                  <a target="_blank" href="https://www.dropbox.com/"><i class="fa fa-dropbox heading-b"></i></a>
                  <a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing heading-b"></i></a>
                  <a target="_blank" href="http://vk.com/"><i class="fa fa-vk heading-b"></i></a>
                </p>
              </div>
            </div>-->
          </div>
          <div class="caption">
            <p>
              <span class="title">Christian Rangen</span>
              <br>
              <span class="highlight">Faculty Strategy and Innovation</span>
            </p>
          </div>
        </div>
        
      </div>
      <!--<h3 style="text-align: center;"><span class="highlight">We want to change</span><br>peoples lives</h3>
      <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.</p>
        </div>
      </div>-->
    </div>
  </div>
</section>
<!--<section class="who-section" id="who">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 stretch-height pane" style="height: 400px;"> 
        <div class="banner-image">
          <div class="banner-content">
            <div class="position-middle-center text-center">
              <a class="button-a background-lite-c" href="#process">VIEW OUR PROCESS</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-height pane" style="height: 400px;">
        <div class="view fluid-height">
          <div class="content incut colors-e background-solid">
            <div class="position-middle-center">
              <h3 class="text-left"><span class="highlight">Who</span> We Are</h3>
              <p class="subtitle highlight"><strong>Quisque dolor lacus, commodo id hendrerit viverra, euismod in odio.</strong></p>
              <p>Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.</p>
              <p>Aenean nisi neque, aliquam ut nibh sit amet, finibus sagittis tortor aenean consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<section class="service-section" id="service">
  <div class="section-container">
    <h2 class="service-title">OUR LEARNING LABS</h2>
    <p class="title-para"><span class="highlight">We Are Here</span> For You</p>
    <!--<p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>-->
    <div class="row">
      <div class="col-md-3 ">
        <h4 class="list-head">Data Analytics <br>Lab</h4>
        <p>Data has become the new fuel for any business in the digital age. In order to craft growth strategies it is vital to understand the data to make better smarter decisions.</p>
        <div id="text1"> 
          <p>At our Data Lab we help senior leadership teams to understand value of data by experiential learning interventions designed by leading experts around the world. The simulations are current and relevant to any industry to understand the business performance, customer satisfaction, digital readiness and many more. We curate training programmes as well as Data Strategy Formulation for organisations.<br>
          As a part of our offering we train your people in Data Analytics, People Analytics, and Marketing Analytics in order to transform your organization to an analytical organisation.</p>
          <ul class="simple">
            <li>Data analytics for business professionals’ workshops</li>
            <li>Data Strategy Workshops for Senior Management</li>
            <li>Data Strategy Formulation Workshop for Companies</li>
            <li>Data Science for non-tech professionals</li>
            <li>Analytical workshops for Finance Professionals.</li>
            <li>Marketing Analytics Workshops</li>
            <li>Financial Analytics Workshop</li>
            
          </ul>
        </div>
        <div class="btn-container">
          <a id="toggle1">Read More</a>
        </div>
        
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Strategy and Business Model Innovation Lab</h4>
        <p>In our workshops, you learn how to apply the Business Model Canvas in to strategic plan of any company.</p>
        <div id="text2">
          <p>We bring world class expert to work for you side by side, helping you successfully to develop, test, and implement business model innovations by integrating it to your overall business strategy. This is not just a workshop but more of a strategy formulation while learning new set of tools.<br>
          As a part of our offering we train your people in Business Model Innovation and entrepreneurship in order to change the mind-set and culture of your organization.</p>
          <ul class="simple">
            <li>Business Model Canvas Workshops</li>
            <li>Emerging Markets Strategy Workshops</li>
            <li>Business Model Innovation Workshops</li>
            <li>Strategy Simulation Sessions</li>
            <li>Business War Games</li>
            <li>Scenario Planning Workshops</li>
            <li>Finance Strategy for Non-Financial Managers</li>
            <li>Business Strategy Formulation with International Experts</li>
          </ul>
        </div>
        <div class="btn-container">
          <a id="toggle2">Read More</a>
        </div>
        
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Design Thinking and Innovation Lab</h4>
        <p>Design-led companies have outperformed the S&P 500 by an extraordinary 211%.</p>
        <div id="text3"><p> At our Design Thinking and Innovation Lab, we work with startups, leading corporate innovation consultants, design thinkers around the world to craft new innovation strategies for corporates, we bring together senior management teams to our lab to learn and implement innovation projects within their organisations.<br>
        We have specially designed innovation labs that can be used for Design Thinking/Innovation workshops<br>
        As a part of our offering we train your people in Design Thinking, from beginner level to sprinter level and in order to create design thinking driven innovation culture of your organization.</p>
        <ul class="simple">
          <li>Design Thinking Beginner Workshops</li>
          <li>Design Thinking Practitioners Workshops</li>
          <li>Design Thinking Sprinter Training and Workshops</li>
          <li>New Product Development Workshops</li>
          <li>Customer Experience Design Workshops</li>
          <li>Corporate Innovation workshops</li>
         
        </ul>
      </div>
        <div class="btn-container">
          <a id="toggle3">Read More</a>
        </div>
        
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Cyber Security Lab</h4>
        <p>As every business moves to digital business models, the security of these platforms play a crucial role.</p> 
        <div id="text4">
          <p>As internet user’s increase in emerging economies the same challenges of disinformation and cyber-attacks experienced in more cyber-advanced countries will occur; almost every business leader will need to create a strong cyber security culture. At our Cyber Lab we work with leading Israel Cyber Experts to train senior management teams and help companies to craft Cyber Defense strategies for companies.<br>
          As a part of our offering we train your people in Cyber Security also we develop and deploy learning modules on Cyber Awareness for corporates.</p>
          <ul class="simple">
            <li>Cyber Security for Board of Directors Workshop</li>
            <li>Cyber Security Awareness Sessions</li>
            <li>Cyber Security Training for Managers</li>
            <li>Cyber Strategy Formulation Sessions</li>
            <li>Online Safety workshops</li>
            <li>Project/platform planning</li>
            <li>Anti-Money laundering and Anti-Terrorist Financing related Workshops</li>
          </ul>
        </div>
        <div class="btn-container">
          <a id="toggle4">Read More</a>
        </div>
        
      </div>
    </div>
  </div>

</section>
<section class="number-section" id="number">
  <div class="section-container">
    <h2 class="number-title">OUR <span class="highlight">NUMBERS</span></h2>
    <p class="title-para"><span class="highlight">SOME OF THE</span> COOL FACTS ABOUT US</p>
    <div class="row counters" id="counter">
      <div class="col-md-3 counter background-25-b">
        <div class="count player row heading background-10-light counter-value" data-count="210">0</div>
        <div class="caption">Projects</div>
      </div>
      <div class="col-md-3 counter background-35-h">
        <div class="count player row heading background-10-light counter-value" data-count="120">0</div>
        <div class="caption">Clients</div>
      </div>
      <div class="col-md-3 counter background-25-b">
        <div class="count player row heading background-10-light counter-value" data-count="3459">0</div>
        <div class="caption">Followers</div>
      </div>
      <div class="col-md-3 counter background-35-h">
        <div class="count player row heading background-10-light counter-value" data-count="7">0</div>
        <div class="caption">Years</div>
      </div>
    </div>
  </div>
  
  

</section>
<section class="process-section" id="process">
  <div class="section-container">
    <h2 class="process-title">OUR <span class="highlight">PROCESS</span></h2>
    <p class="title-para"><span class="highlight">Partner For Your Learning</span> And Development Strategy</p>
    <p class="lead">The current business environment is fast-paced, demanding, and constantly evolving. A robust learning and development strategy involves the constant development of senior management with the latest insights.  We manage end to end learning intervention design and delivery with subject matter experts.</p>
    <div class="process">
      <div class="row process-row">
        <div class="col-md-3 process-step">
          <div class="process-box"><i class="fas fa-search"></i></div>
          <p class="title">Learning Need Analysis</p>
          <p class="text-center">Assessments and various interviews with key stake holders such as Learning Development Team, Business Unit Head or C-suite Management to determine learning need and impacts</p>
        </div>
        <div class="col-md-3 process-step">
          <div class="process-box"><i class="fas fa-pen"></i></div>
          <p class="title">Faculty Sourcing</p>
          <p class="text-center">Subject matter expert identification and initial programme design/learning outcome design.</p>
        </div>
        <div class="col-md-3 process-step">
          <div class="process-box"><i class="fas fa-cog"></i></div>
          <p class="title">Programme Design</p>
          <p class="text-center">Programme architecture design and learning interventions identification and agree with the learning manager.</p>
        </div>
        <div class="col-md-3 process-step">
          <div class="process-box"><i class="fas fa-paper-plane"></i></div>
          <p class="title">Programme Delivery and Impact Assestment</p>
          <p class="text-center">Delivery of the programme , Assessment of the impact of the delivery, learning re-enforcements </p>
        </div>
      </div>
    </div>
    
      
    <div style="text-align: center;">
      <a class="btn course-btn" href="https://themastersworld.com/courses" role="button">View our programmes</a>
    </div>
    
  </div>
</section>
<section class="contact-section" id="contact">
  <div class="section-container">
    <h2 class="contact-title">CONTACT</h2>
    <p class="header-details">Keep In Touch</p>
    <div>
      <div class="text-center scroll-in-animation player fadeInLeft animated css-animation-show" data-animation="fadeInLeft">
        <p class="big-font uppercase">
          Tel: <strong class="highlight">+94 702371418</strong>
        </p>
        <p class="big-font uppercase">
          NO 07, Hector Kobbekaduwa Mawatha, 
          <br>Colombo 07, Sri Lanka
        </p>
        <p class="big-font">
          <b>
        <a href="mailto:events@themastersworld.com">events@themastersworld.com</a><br>
        <!--<a href="http://www.ouraddress.com">www.ouraddress.com</a>-->
      </b>
        </p>
        <p class="big-font">
          <a target="_blank" href="https://twitter.com/MastersE"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-twitter fa-stack-1x text-background" style="color : #0e0e0f"></i></span></a>
          <a target="_blank" href="https://www.facebook.com/Masters-Corporate-Education-105582007894873/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-facebook fa-stack-1x text-background" style="color : #0e0e0f"></i></span></a>
          <a target="_blank" href="https://www.instagram.com/masterscorporateeducation/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-instagram fa-stack-1x text-background" style="color : #0e0e0f"></i></span></a>
          <a target="_blank" href="https://www.linkedin.com/in/masters-corporate-education-6204811b2/"><span class="fa-stack"><i class="fa fa-circle fa-stack-2x heading"></i><i class="fa fa-linkedin fa-stack-1x text-background" style="color : #0e0e0f"></i></span></a>
        </p>
      </div>
    </div>

  </div>

</section>
<footer class="page-transition non-preloading" style="background-color: #000000;color:#ffffff">
  <div class="container scroll-in-animation player fadeInDown animated css-animation-show" data-animation="fadeInDown">
    <div class="row">
      <div class="col-md-4">
        <!--<h4>SKROLL<span class="highlight">EX</span></h4>-->
        <div style="width: 200px;">
          <a href="${branding_api.get_home_url()}">
            <%block name="navigation_logo">
            <img style="width: 100%;" class="logo" src="/static/custom-theme/images/logo.png" alt="Logo Footer"/>
            </%block>
          </a>
        </div>
        <!--<div class="footer-description">
          <p>Mauris metus tellus, lacinia nec efficitur quis, rhoncus et mi.</p>
        </div>-->
        <p class="social-links">
          <a target="_blank" href="https://www.facebook.com/Masters-Corporate-Education-105582007894873/"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/MastersE"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="https://www.instagram.com/masterscorporateeducation/"><i class="fab fa-instagram"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/masters-corporate-education-6204811b2/"><i class="fa fa-linkedin"></i></a>
        </p>
      </div>
      <div class="col-md-4">
        <h5>Additional Links</h5>
        <ul class="simple">
          <li><a href="https://themastersworld.com/#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <!--<li><a href="#team">Team</a></li>
          <li><a href="#service">Service</a></li>
          <li><a href="#process">Process</a></li>-->
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Recent Events</h5>
        <ul class="simple">
          <li><a target="_blank" href="http://bbcsummit.themastersworld.com/">Business Beyond Covid</a></li>
          
        </ul>
      </div>
      <!--<div class="col-md-3">
        <h5>Photo Stream</h5>
        <div class="row">
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/12333983853" title="Melbourne Meetup by Envato, on Flickr"><img class="fluid-width" src="https://farm8.staticflickr.com/7367/12333983853_8fc462a494_q.jpg" alt="Melbourne Meetup"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090549273" title="Around the Envato Office - Highfive! by Envato, on Flickr"><img class="fluid-width" src="https://farm8.staticflickr.com/7325/13090549273_ee5c732ce1_q.jpg" alt="Around the Envato Office - Highfive!"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/12333834195" title="Melbourne Meetup by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3798/12333834195_7dcb472dd5_q.jpg" alt="Melbourne Meetup"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090422515" title="Around the Envato Office - Becca by Envato, on Flickr"><img class="fluid-width" src="https://farm3.staticflickr.com/2279/13090422515_cabc9c447c_q.jpg" alt="Around the Envato Office - Becca"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090762874" title="Around the Envato Office - Ben &amp; Jane by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3596/13090762874_5f9d99f4e5_q.jpg" alt="Around the Envato Office - Ben &amp; Jane"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090456565" title="Around the Envato Office - Selina by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3715/13090456565_df81e68627_q.jpg" alt="Around the Envato Office - Selina"></a>
          </div>
        </div>
      </div>-->
    </div>
  </div>
  <div class="bottom text-center background-10-b">
    © 2020 All Rights Reserved.
  </div>
</footer>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
  <script type="text/javascript">
    
    $(document).ready(function(){
      $("#toggle1").click(function() {
        var elem = $("#toggle1").text();
        
        if (elem == "Read More") {
          //Stuff to do when btn is in the read more state
          $("#toggle1").text("Read Less");
          $("#text1").slideDown();
        } else {
          //Stuff to do when btn is in the read less state
          $("#toggle1").text("Read More");
          $("#text1").slideUp();
        }
      });
      $("#toggle4").click(function() {
        var elem = $("#toggle4").text();
        
        if (elem == "Read More") {
          //Stuff to do when btn is in the read more state
          $("#toggle4").text("Read Less");
          $("#text4").slideDown();
        } else {
          //Stuff to do when btn is in the read less state
          $("#toggle4").text("Read More");
          $("#text4").slideUp();
        }
      });
      $("#toggle2").click(function() {
        var elem = $("#toggle2").text();
        
        if (elem == "Read More") {
          //Stuff to do when btn is in the read more state
          $("#toggle2").text("Read Less");
          $("#text2").slideDown();
        } else {
          //Stuff to do when btn is in the read less state
          $("#toggle2").text("Read More");
          $("#text2").slideUp();
        }
      });
      $("#toggle3").click(function() {
        var elem = $("#toggle3").text();
        
        if (elem == "Read More") {
          //Stuff to do when btn is in the read more state
          $("#toggle3").text("Read Less");
          $("#text3").slideDown();
        } else {
          //Stuff to do when btn is in the read less state
          $("#toggle3").text("Read More");
          $("#text3").slideUp();
        }
      });
      
      var a = 0;
      $(window).scroll(function() {

        var oTop = $('#counter').offset().top - window.innerHeight;
        if (a == 0 && $(window).scrollTop() > oTop) {
          $('.counter-value').each(function() {
            var $this = $(this),
              countTo = $this.attr('data-count');
            $({
              countNum: $this.text()
            }).animate({
                countNum: countTo
              },

              {

                duration: 10000,
                easing: 'swing',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                  //alert('finished');
                }

              });
          });
          a = 1;
        }

      });


      $('.tlt').textillate({
        selector: '.texts',
        loop: true,
        minDisplayTime: 1000,
        initialDelay: 0,
        autoStart: true,
        
        in: {
          effect: 'fadeInLeftBig',
          delayScale: 1.5,
          delay: 500,
          sync: false,
          shuffle: false,
          reverse: false,
          callback: function() {
            console.log("out text");
            $('.tlt').textillate('out');
            
          }
        },
        out: {
          effect: 'fadeOut',
          delayScale: 1.5,
          delay: 50,
          sync: false,
          shuffle: false,
          reverse: false,
          callback: function () {}
        },
        callback: function () {},
        type: 'char'
      });
    });
    $(window).load(function() {
      if(getParameterByName('next')) {
          $('#login').trigger("click");
      }
      
    })
    
      
      
    
      
  </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
  
</script>
% endif
% if not uses_bootstrap:
  <!-- McDaniel Oct-2018: add the Bootstrap javascript library, unless it's already included from webpack -->
  ## xss-lint: disable=mako-invalid-js-filter
  <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
% endif
