<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text

from branding import api as branding_api
%>
<head>
  <!-- McDaniel Oct-2018: add the Bootstrap library, unless it's already included from webpack -->
  % if not uses_bootstrap:
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  % endif

</head>

<section class="banner-section" id="home">
  <div class="section-container">
    <div class="banner-content">
      <h4 class="tlt banner-header">
          <ul class="texts">
              <li>Insights to GROW</li>   
              <li></li>
              
          </ul>
      </h4>
      <h2 class="banner-name">
        MASTERS
      </h2>


      <p class="banner-text">
       Build skills with courses, certificates, and degrees online from world-class universities and companies
      </p>
      <div class="secondary ">
        <div class="mobile-nav-item hidden-mobile nav-item">
          <a class="register-btn btn" href="/register${login_query()}">${_("Register")}</a>
        </div>
        <div class="mobile-nav-item hidden-mobile nav-item">
          <a class="sign-in-btn btn" href="/login${login_query()}">${_("Sign in")}</a>
        </div>
      </div>
        
        
        
    </div>
  </div>
</section>
<section class="about-section" id="about">
  <div class="section-container">
    <h2 class="about-title">ABOUT</h2>
    <p class="title-para"><span class="highlight">WE CREATE</span> AWESOME STUFF</p>
    <p class="about-para">In our obsession on innovation and growth, we endeavor to create value that help leaders to create great businesses and great teams focused on multi-dimensional progression. We strive to present best in-class corporate education experiences, online, with world class faculties, designed around contemporary topics. Value creation through thought leadership and innovation; help us induce the cutting-edge advantages to your corporate capacity pool.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-lightbulb fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Web <span class="highlight">Development</span></h4>
          <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus.</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-tshirt fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Internet <span class="highlight">Marketing</span></h4>
          <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus.</p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-icon">
          <i class="fas fa-bullhorn fa-fw"></i>
        </div>
        <div class="col-content">
          <h4>Client <span class="highlight">Suuport</span></h4>
          <p>Praesent sodales, quam vitae gravida interdum, ex mi bibendum enim, sit amet tristique mi quam vel odio. Donec non nunc condimentum, hendrerit elit sed, condimentum magna. Suspendisse imperdiet purus vel ornare cursus.</p>

        </div>
      </div>
    </div>
    
  <div>
  
</section>
<section class="work-section" id="work">
  <div class="section-container">
    <div class="work-content">
      <h3 class="work-title"><span class="highlight">HOW</span> WE WORK</h3>
      <div class="row" style="justify-content: center ;color:#efefef">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.</p>
        </div>

      </div>
      <div class="row icon-set">
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-eye circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Awesome</span></p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-thumbs-up circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Innovative</span></p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-paper-plane circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Creative</span></p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fas fa-flask circle scroll-in-animation background-20 heading player fadeInUp animated css-animation-show" data-animation="fadeInUp"></i>
          </p>
          <p class="title"><span class="underline-text">Experimental</span></p>
          <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-section" id="team">
  <div class="section-container">
    <div class="team-content">
      <h2 class="team-title">TEAM</h2>
      <p class="title-para"><span class="highlight">WHO</span> WE ARE</p>
      <p class="team-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non nisi est sit amet. A iaculis at erat pellentesque adipiscing commodo elit.Leo urna molestie at elementum eu facilisis. Ut diam quam nulla porttitor massa. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla.</p>
      <div class="row">
        <div class="col-md-3 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <img alt="Mike Johnson" src="https://via.placeholder.com/150" title="Mike Johnson" class="fluid-width">
            <div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook heading-b"></i></a>
                  <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube heading-b"></i></a>
                  <a target="_blank" href="https://github.com/"><i class="fa fa-github heading-b"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="caption">
            <p>
              <span class="title">Mike Johnson</span>
              <br>
              <span class="highlight">CEO &amp; Founder</span>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <img alt="Jessica Specter" src="https://via.placeholder.com/150" title="Jessica Specter" class="fluid-width">
            <div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                  <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                  <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                  <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="caption">
            <p>
              <span class="title">Jessica Specter</span>
              <br>
              <span class="highlight">Creative Director</span>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <img alt="Lynda Smith" src="https://via.placeholder.com/150" title="Lynda Smith" class="fluid-width">
            <div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://www.flickr.com/"><i class="fa fa-flickr heading-b"></i></a>
                  <a target="_blank" href="https://www.dropbox.com/"><i class="fa fa-dropbox heading-b"></i></a>
                  <a target="_blank" href="https://www.xing.com/"><i class="fa fa-xing heading-b"></i></a>
                  <a target="_blank" href="http://vk.com/"><i class="fa fa-vk heading-b"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="caption">
            <p>
              <span class="title">Andrew Miles</span>
              <br>
              <span class="highlight">Developer</span>
            </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6  col-xs-6">
          <div class="hover-overlay">
            <img alt="Lynda Smith" src="https://via.placeholder.com/150" title="Lynda Smith" class="fluid-width">
            <div class="overlay background-90-b">
              <div>
                <p class="text-center text-uppercase heading-b">
                  Exercitation ut enim ad minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="separator-small"></div>
                <p class="text-center">
                  <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter heading-b"></i></a>
                  <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin heading-b"></i></a>
                  <a target="_blank" href="https://plus.google.com/"><i class="fa fa-google-plus heading-b"></i></a>
                  <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square heading-b"></i></a>
                  <a target="_blank" href="https://www.tumblr.com/"><i class="fa fa-tumblr heading-b"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="caption">
            <p>
              <span class="title">Lynda Smith</span>
              <br>
              <span class="highlight">Programmer</span>
            </p>
          </div>
        </div>
      </div>
      <h3 style="text-align: center;"><span class="highlight">We want to change</span><br>peoples lives</h3>
      <div class="row" style="justify-content: center;">
        <div class="col-md-6 col-md-offset-3">
          <p class="text-center">Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="who-section" id="who">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 stretch-height pane" style="height: 400px;"> 
        <div class="banner-image">
          <div class="banner-content">
            <div class="position-middle-center text-center">
              <a class="button-a background-lite-c" href="#work">VIEW OUR WORK</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 stretch-height pane" style="height: 400px;">
        <div class="view fluid-height">
          <div class="content incut colors-e background-solid">
            <div class="position-middle-center">
              <h3 class="text-left"><span class="highlight">Who</span> We Are</h3>
              <p class="subtitle highlight"><strong>Quisque dolor lacus, commodo id hendrerit viverra, euismod in odio.</strong></p>
              <p>Aliquam fermentum massa ac est sollicitudin, at ultricies ligula tristique. Cras finibus, nulla ac convallis feugiat, nisl nisl lobortis est, eget auctor velit magna vel nunc. Donec nec eros rhoncus.</p>
              <p>Aenean nisi neque, aliquam ut nibh sit amet, finibus sagittis tortor aenean consectetur.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="service-section" id="service">
  <div class="section-container">
    <h2 class="service-title">SERVICE</h2>
    <p class="title-para"><span class="highlight">We Are Here</span> For You</p>
    <p class="lead">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <div class="row">
      <div class="col-md-3 ">
        <h4 class="list-head">Web<br>Design</h4>
        <p class="highlight">Duis ipsum dolor sit amet incididunt ut labore et dolore magna.</p>
        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        <ul class="simple">
          <li>Responsive design</li>
          <li>Template development</li>
          <li>Rich media banners</li>
          <li>Frontend development</li>
          <li>Backend development</li>
          <li>Content creation</li>
          <li>Content audit</li>
          <li>Copywriting</li>
          <li>Photography</li>
        </ul>
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Internet<br>Marketing</h4>
        <p class="highlight">Excepteur ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
        <p>Excepteur sint occaecat elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        <ul class="simple">
          <li>Facebook advertising</li>
          <li>SEO and SEM</li>
          <li>Facebook apps</li>
          <li>Context advertising</li>
          <li>Rich media banners</li>
          <li>Game development</li>
          <li>Content creation</li>
          <li>Testing</li>
        </ul>
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Digital<br>production</h4>
        <p class="highlight">Lorem ipsum dolor sit amet, consectetur adipisicing elit eiusmod consequat.</p>
        <p>Duis aute irure elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat. Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul class="simple">
          <li>Rich media banners</li>
          <li>Audio production</li>
          <li>Photography</li>
          <li>Design</li>
          <li>Content creation</li>
          <li>Content audit</li>
          <li>Project management</li>
          <li>Technical requirements</li>
          <li>Testing</li>
        </ul>
      </div>
      <div class="col-md-3 ">
        <h4 class="list-head">Application<br>Development</h4>
        <p class="highlight">Commodo ipsum dolor sit amet dolore magna aliqua.</p>
        <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
        <ul class="simple">
          <li>Facebook apps</li>
          <li>Brand immersion &amp; research</li>
          <li>Competitive analysis</li>
          <li>Stakeholder interviews</li>
          <li>Content audit</li>
          <li>Project/platform planning</li>
          <li>Technical requirements</li>
          <li>Testing</li>
        </ul>
      </div>
    </div>
  </div>

</section>
<footer class="colors-g page-transition non-preloading">
  <div class="container scroll-in-animation player fadeInDown animated css-animation-show" data-animation="fadeInDown">
    <div class="row">
      <div class="col-md-3">
        <!--<h4>SKROLL<span class="highlight">EX</span></h4>-->
        <div style="width: 200px;">
          <a href="${branding_api.get_home_url()}">
            <%block name="navigation_logo">
            <img style="width: 100%;" class="logo" src="${branding_api.get_logo_url(is_secure)}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
            </%block>
          </a>
        </div>
        <div class="footer-description">
          <p>Mauris metus tellus, lacinia nec efficitur quis, rhoncus et mi.</p>
        </div>
        <p class="social-links">
          <a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="http://www.youtube.com/"><i class="fa fa-youtube"></i></a>
          <a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a>
          <a target="_blank" href="https://www.pinterest.com/"><i class="fa fa-printerest"></i></a>
          <a target="_blank" href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
        </p>
      </div>
      <div class="col-md-3">
        <h5>Additional Links</h5>
        <ul class="simple">
          <li><a href="help.html">Documentation</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="#how-we-work">How We Work</a></li>
          <li><a href="#who-we-are">Who We Are</a></li>
          <li><a href="#numbers">Our Numbers</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Recent Posts</h5>
        <ul class="simple">
          <li><a href="blog-single-1.html">Post with Featured Image</a></li>
          <li><a href="blog-single-2.html">And Post with Slider</a></li>
          <li><a href="blog-single-3.html">Post with Vimeo Video</a></li>
          <li><a href="blog-single-4.html">Another Post with Image</a></li>
          <li><a href="blog.html">More...</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Photo Stream</h5>
        <div class="row">
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/12333983853" title="Melbourne Meetup by Envato, on Flickr"><img class="fluid-width" src="https://farm8.staticflickr.com/7367/12333983853_8fc462a494_q.jpg" alt="Melbourne Meetup"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090549273" title="Around the Envato Office - Highfive! by Envato, on Flickr"><img class="fluid-width" src="https://farm8.staticflickr.com/7325/13090549273_ee5c732ce1_q.jpg" alt="Around the Envato Office - Highfive!"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/12333834195" title="Melbourne Meetup by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3798/12333834195_7dcb472dd5_q.jpg" alt="Melbourne Meetup"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090422515" title="Around the Envato Office - Becca by Envato, on Flickr"><img class="fluid-width" src="https://farm3.staticflickr.com/2279/13090422515_cabc9c447c_q.jpg" alt="Around the Envato Office - Becca"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090762874" title="Around the Envato Office - Ben &amp; Jane by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3596/13090762874_5f9d99f4e5_q.jpg" alt="Around the Envato Office - Ben &amp; Jane"></a>
          </div>
          <div class="col-xs-3 col-sm-2 col-md-4">
            <a target="_blank" href="https://www.flickr.com/photos/we-are-envato/13090456565" title="Around the Envato Office - Selina by Envato, on Flickr"><img class="fluid-width" src="https://farm4.staticflickr.com/3715/13090456565_df81e68627_q.jpg" alt="Around the Envato Office - Selina"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom text-center background-10-b">
    © 2020 All Rights Reserved. <a href="#" class="open-overlay-window heading" data-overlay-window=".credits-overlay">Credits.</a>
  </div>
</footer>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
  <script type="text/javascript">
    $(document).ready(function(){
      $('.tlt').textillate({
        selector: '.texts',
        loop: true,
        minDisplayTime: 2000,
        initialDelay: 0,
        autoStart: true,
        
        in: {
          effect: 'fadeInLeftBig',
          delayScale: 1.5,
          delay: 500,
          sync: false,
          shuffle: false,
          reverse: false,
          callback: function() {
            console.log("out text");
            $('.tlt').textillate('out');
            
          }
        },
        out: {
          effect: 'fadeOut',
          delayScale: 1.5,
          delay: 50,
          sync: false,
          shuffle: false,
          reverse: false,
          callback: function () {}
        },
        callback: function () {},
        type: 'char'
      });
    });
    $(window).load(function() {
      if(getParameterByName('next')) {
          $('#login').trigger("click");
      }
      
    })
    
      
      
    
      
  </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
  
</script>
% endif
% if not uses_bootstrap:
  <!-- McDaniel Oct-2018: add the Bootstrap javascript library, unless it's already included from webpack -->
  ## xss-lint: disable=mako-invalid-js-filter
  <script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
% endif
