
$primary: #baa769;
$inverse: #000 ;
$white : #fff;
$secondary : #fff;
// Theme fonts
$font-family-sans-serif: Raleway,Arial,Helvetica,sans-serif;

// Default bootstrap theming

@import 'edx-bootstrap/sass/open-edx/theme';

//$primary: #baa769 !important;
